<h1>  ROCK - PAPER - SCISSORS</h1>
<p> HOLDING LINE FOR INSTRUCTIONS</p>
<img src="http://images.entertainment.ie/images_content/rectangle/620x372/mgid-ao-image-mtv20161211622705.jpg" alt="The Rock">
