<h1>  ROCK - PAPER - SCISSORS</h1>
<h2> Choose your weapon</h2>
<a href="http://localhost:4567/game/rock/rock"><img src="http://images.entertainment.ie/images_content/rectangle/620x372/mgid-ao-image-mtv20161211622705.jpg" alt="The Rock"></a>
<a href="http://localhost:4567/game/paper/paper"><img src="https://www.abacused.com.au/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/o/color-tissue-paper-wrapping_1.jpg" alt="Paper"></a>
<a href="http://localhost:4567/game/scissors/scissors"><img src="http://www.thetherapystore.com.au/wp-content/uploads/2015/06/CBB1.jpg" alt="Scissors"></a>
